<div style="background-color: antiquewhite">

  <div class=" head">

  <div class=" limage"> <img src="assets/img/Nos-guides.jpg" alt="Image recette" style="width: 470px; height : 300px"></div>
  <div class="  lenom">{{recette.nom}}</div>

</div>


<div class="info" ><i class="fas fa-user-friends"></i> {{recette.nbPersonne}}</div>
  <div class="info" ><i class="far fa-clock"></i>{{recette.temps}}</div>

  <fieldset>
    <legend> Ingrédients :</legend>
    <div class="angular-with-newlines methode" >
      <div class="ladiv2">{{recette.ingredients}}</div>
    </div>
  </fieldset>

  <fieldset>
    <legend> La recette pas à pas :</legend>
    <div class="angular-with-newlines methode" >
      <div class="ladiv2">{{recette.methode}}</div>
    </div>
  </fieldset>





</div>
