<div style="background-color: antiquewhite">

  <div class=" head">

    <div class=" limage"> <img src="assets/img/Nos-guides.jpg" alt="Image recette" style="width: 470px; height : 300px"></div>
    <div class="  lenom">{{vegetal.nom}}</div>

  </div>


  <!--  <div class="info" ><i class="fas fa-user-friends"></i> {{recette.nbPersonne}}</div>
    <div class="info" ><i class="far fa-clock"></i>{{recette.temps}}</div> -->

  <fieldset>
    <legend> Informations Générale :</legend>
    <div class="angular-with-newlines methode" >
      <div class="ladiv2">{{vegetal.description}}</div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Information technique</legend>

  </fieldset>
  <fieldset>
    <legend>Affinités</legend>

  </fieldset>




</div>
