.ladiv {
  background-color: antiquewhite;


}

.lesguides {
  border: solid forestgreen 5px;
  margin : 15px;
}

.angular-with-newlines {
  white-space: pre-wrap;
}

.ladiv h1 {
  text-align: center;
}

.ladiv h4 {
  text-align: center;
}

.titre {
  text-align: center;
  font-weight: bold;
  margin : 4px;
  font-size: 30px;
}

.info {
  border: dashed black 1px;
  margin : 4px;
}

.ingredients {

}

.methode {

}

legend {
 padding : 0 10px;
  width : auto;
}

fieldset{
  border: solid;
  margin: 3px;
}
.lebouton{
  text-align: right;
  margin : 5px;
}

