<div class="ladiv">
<h1> Voici nos recettes !</h1>
  <h4>Suprennez vos amis avec ces recettes de grand chef étoilés !</h4>

<div class="lesguides" *ngFor=" let recette of list()">

  <div class="titre">
    {{recette.nom}}
  </div>

  <div class="info">
    <i class="fas fa-user-friends"></i>  {{recette.nbPersonne}}
  </div>
  <div class="info">
    <i class="far fa-clock"></i> {{recette.temps}}
  </div>

  <form>
<fieldset>
  <legend> Ingrédients :</legend>
  <div class="angular-with-newlines ingredients" >
    {{recette.ingredients}}
  </div>
  </fieldset>
  </form>

  <fieldset>
    <legend> Descriptif :</legend>
  <div class="angular-with-newlines methode" >
    {{recette.descriptif}}
  </div>
  </fieldset>

  <div class="lebouton">
  <button type="button" class="btn btn-outline-success " [routerLink]="['/recette/' + recette.id]">Voir la recette</button>
  </div>

</div>
  <br>
</div>


