.message-accueil
{
  text-align: center;
  position : relative;
  top: 170px;
}

.message-1 {
  display: inline-block;
  text-align: center;
  position : relative;
  top: 100px;
  width: 50%;

}

.message-2 {

  display: inline-block;
  text-align: center;
  position : relative;
  top: 100px;
  width: 50%;

}

.tout

{
  width: 100%;
  background-color: antiquewhite;
  position: relative;
}

.carouAlex
{
  top: 320px;
  display : inline-block;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width : 600px;
}

