
<div style="background-color: antiquewhite; width: 100%; "class="madiv">
  <br/>
  <div class="container">
    <div class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" [(ngModel)]="recherche">
      <a class="btn btn-success" (click)="affichage()">Rechercher</a>
    </div>
  </div>

  <br/>

  <div style="background-color: antiquewhite; width: 100%; "class="madiv">
    <div class="container">
      <h2 class="centre_titre">Les resultats de la recherche :</h2>
      <br/>
      <div class="d-flex">
    <table border style="text-align: center" class="table table-striped table-hover">
      <thead>
      <tr>
        <th style="width:1500px;">Nom</th>
        <th style="width:1500px;">Image</th>
        <th style="width:1500px;">Description</th>
      </tr>
      </thead>

      <tr *ngFor="let vegetal of vegetaux">
        <td style="width:1500px;">{{vegetal.nom}}</td>
        <td style="width:1500px;"><a [routerLink]="['/vegetal/' + vegetal.id]"><img style="width: 150px;" src="../../assets/img/{{vegetal.nom}}.jpg"></a></td>
        <td style="width:1500px;" class="angular-with-newlines methode">{{vegetal.description}}</td>
      </tr>
      <tr *ngFor="let rec of recettes">
        <td style="width:1500px;">{{rec.nom}}</td>
        <td style="width:1500px;"><a [routerLink]="['/recette/' + rec.id]"><img width="150px" src="../../assets/img/{{rec.nom}}.jpg"></a></td>
        <td style="width:1500px;" class="angular-with-newlines methode">{{rec.descriptif}}</td>
      </tr>
      <tr *ngFor="let guide of guides">
        <td style="width:1500px;">{{guide.nom}}</td>
        <td style="width:1500px;"><a [routerLink]="['/guide/' + guide.id]"><img width="150px" src="../../assets/img/{{guide.nom}}.jpg"></a></td>
        <td style="width:1500px;" class="angular-with-newlines methode">{{guide.descriptif}}</td>
      </tr>

    </table>
  </div>
  </div>
</div>
</div>
