<div class="ladiv">
  <h1> Voici nos végétaux</h1>
  <div class="card-deck">
    <div class="card border border-primary shadow-0" style="max-height: 20%;max-width: 15%;" *ngFor="let plante of list()">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="../../assets/img/{{plante.nom}}.jpg" class="img-fluid" /><!-- {{vegetal.nom}}.jpg -->
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-header">Information</div>
      <div class="card-body">
        <h5 class="card-title">{{plante.nom}}</h5><!-- vegetal.nom -->
        <p class="card-text">
          {{plante.description}}
        </p>
        <button type="button" class="btn btn-primary" [routerLink]="['/vegetal/' + plante.id]" >Plus de détails</button>
        <button *ngIf="isType('Admin')" type="button" class="btn btn-primary" [routerLink]="['/admin-modifier-plante/' + plante.id]" >Modifier</button>
      </div>
    </div><!-- nombre  d'éléments vegetal.nom == "tomate" filtre qui porte le nom de tomates dans la liste -->
  </div><!--choix replant -->
</div>
