<div style="background-color: antiquewhite">


<div class="listeChoix">
  <div class="diffentsChoix" >
    <div class="choixDetail" *ngFor="let e of natures; index as i;" (click)="menuNature(menuChoixAvant(natures,e,i,'Nature'))" [style.opacity]="opaciteNature[i]"  tabindex="{{i}}" ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
    <!-- <div  class="choixDetail" *ngFor="let e of natures" style="background-image:url('../../assets/img/<span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span>.jpg');" (click)="menuNature(menuChoixAvant(natures,e,3'))" ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div> -->
  </div>
  <!-- [style]="'opacity:'+opacite[i]+';'" -->
  <div class="diffentsChoix" *ngIf="choixMenu[1]==true">
    <div [style.opacity]="opaciteTempsDeVie[i]" class="choixDetail" *ngFor="let e of tempsDeVie; index as i;" (click)="menuTempsDeVie(menuChoixAvant(tempsDeVie,e,i,'TempsDeVie'))" ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[2]==true">
    <div [style.opacity]="opacitePresentationFleur[i]" class="choixDetail" *ngFor="let e of presentation; index as i;" (click)="menuPresentationFleur(menuChoixAvant(presentation,e,i,'PresentationFleur'))" ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[3]==true">
    <div [style.opacity]="opaciteExposition[i]" class="choixDetail" *ngFor="let e of expositions; index as i;" (click)="menuExposition(menuChoixAvant(expositions,e,i,'Exposition'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[4]==true">
    <div [style.opacity]="opaciteSol[i]" class="choixDetail" *ngFor="let e of sols; index as i;" (click)="menuSol(menuChoixAvant(sols,e,i,'Sol'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[5]==true">
    <div [style.opacity]="opaciteComportement[i]" class="choixDetail" *ngFor="let e of comportement; index as i;" (click)="menuComportement(menuChoixAvant(comportement,e,i,'Comportement'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[6]==true">
    <div [style.opacity]="opaciteCouleur[i]" class="choixDetail" *ngFor="let e of couleur; index as i;" (click)="menuCouleur(menuChoixAvant(couleur,e,i,'Couleur'))" ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div class="diffentsChoix" *ngIf="choixMenu[7]==true">
    <div [style.opacity]="opaciteUtilite[i]"  class="choixDetail" *ngFor="let e of utilite; index as i;" (click)="menuUtilite(menuChoixAvant(utilite,e,i,'Utilite'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div class="diffentsChoix" *ngIf="choixMenu[8]==true">
    <div [style.opacity]="opaciteTypeDeFeuille[i]"  class="choixDetail" *ngFor="let e of typeDeFeuille; index as i;" (click)="menuTypeDeFeuille(menuChoixAvant(typeDeFeuille,e,i,'TypeDeFeuille'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[9]==true">
    <div [style.opacity]="opaciteTempsDeFeuille[i]" class="choixDetail" *ngFor="let e of tempsDeFeuille; index as i;" (click)="menuTypeDeFeuille(menuChoixAvant(typeDeFeuille,e,i,'TempsDeFeuille'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[10]==true">
    <div [style.opacity]="opacitePresentationFleur[i]" class="choixDetail" *ngFor="let e of presentation; index as i;" (click)="menuPresentationArbuste(menuChoixAvant(presentation,e,i,'PresentationArbuste'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[11]==true">
    <div [style.opacity]="opaciteUtiliteOrnement[i]" class="choixDetail"  *ngFor="let e of utiliteOrnement; index as i;" (click)="menuUtiliteOrnement(menuChoixAvant(utiliteOrnement,e,i,'UtiliteOrnement'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[12]==true">
    <div [style.opacity]="opaciteUtiliteGastronomie[i]" class="choixDetail" *ngFor="let e of utiliteGastronomie; index as i;" (click)="menuUtiliteGastronomie(menuChoixAvant(utiliteGastronomie,e,i,'UtiliteGastronomie'))"  ><span><img src="img_snow_wide.jpg" alt="{{e}}" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[13]==true">
    <div [style.opacity]="opaciteUtiliteComposition[i]" class="choixDetail" *ngFor="let e of utiliteComposition; index as i;" (click)="menutiliteComposition(menuChoixAvant(utiliteComposition,e,i,'UtiliteComposition'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div class="diffentsChoix" *ngIf="choixMenu[14]==true">
    <div [style.opacity]="opaciteCimetiere[i]" class="choixDetail" *ngFor="let e of utiliteCimetiere; index as i;" (click)="menutiliteCimetiere(menuChoixAvant(utiliteCimetiere,e,i,'UtiliteCimetiere'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
  <div  class="diffentsChoix" *ngIf="choixMenu[15]==true">
    <div [style.opacity]="opaciteUtilitePresentation[i]" class="choixDetail" *ngFor="let e of utilitePresentation; index as i;" (click)="menutilitePresentation(menuChoixAvant(natures,e,i,'UtilitePrsentation'))"  ><span><img src="img_snow_wide.jpg" alt="Snow" style="width:100%;" class="imgRecherche" src="../../assets/img/{{e}}.jpg"></span>  <span class="texteRecherche">{{e}}</span></div>
  </div>
</div>

  <div class="formulaire" style ="width:500px; padding:25px;" *ngIf="formulaire==true">

    <legend>
      Informations générales
    </legend>
    <div class="form-group" >
      <label for="nom">Nom du végétal:</label>
      <input type="text" class="form-control" id="nom"  placeholder="Entrez le nom du végétal" [(ngModel)]="vegetal.nom">
      <div class="form-group">
        <label for="desc">Description :</label>
        <textarea rows="8" type="text" class="form-control" id="desc" placeholder="Entrez une description de la recette" [(ngModel)]="vegetal.description"></textarea>
      </div>
      <div class="form-group">
        <label for="photo">Photo:</label><br>
        <input type="file"  id="photo">
      </div>
      <div class="form-group">
        <label for="prix">Prix : </label>
        <input type="number" class="form-control" id="prix" placeholder="Entrez le prix" [(ngModel)]="vegetal.prix">
      </div>
      <div class="form-group">
        <label for="prixF">Prix du fruit:</label>
        <input type="number" class="form-control" id="prixF" placeholder="Entrez le prix du fruit" [(ngModel)]="vegetal.prixFruit">
      </div>
    </div>

    <legend>Informations techniques</legend>
    <div class="form-group" >
      <div class="form-group">
        <label for="eau">Consommation d'eau</label>
        <input type="number" class="form-control" id="eau" placeholder="Entrez la consommation d'eau (en L/jour)" [(ngModel)]="vegetal.consomationEau">
      </div>
      <div class="form-group">
        <label for="engrais">Prix du fruit:</label>
        <input type="number" class="form-control" id="engrais" placeholder="Entrez la consommation d'engrais (en g/plant)" [(ngModel)]="vegetal.consomationEngrais">
      </div>

    </div>
    <div class="elementForm">Affinités :
      <select class="form-control" id="affinite" [(ngModel)]="vegetalAffinite.id">
        <option value="">Choisir les affinités de ce végétal</option>
        <option *ngFor="let veg of listVegetal()" [value]="veg.id">{{veg.nom}}</option>
      </select>
    </div>
    <div class="elementForm">Notice : </div>

    <button *ngIf="modifier==true" type="button" class="btn btn-success" (click)="modifierFun()">Modifier le végétal</button>

  </div>
