<div style="background-color: antiquewhite">

  <div class=" head">

    <div class=" limage"> <img src="assets/img/{{vegetal.nom}}.jpg" alt="Image recette" style="width: 470px; height : 300px"></div>
    <div class="  lenom">{{vegetal.nom}}</div>

  </div>


  <!--  <div class="info" ><i class="fas fa-user-friends"></i> {{recette.nbPersonne}}</div>
    <div class="info" ><i class="far fa-clock"></i>{{recette.temps}}</div> -->

  <fieldset>
    <legend> Informations Générale :</legend>
    <div class="angular-with-newlines methode" >
      <div class="ladiv2"><p>{{vegetal.description}}</p></div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Information technique</legend>
    <div class="angular-with-newlines methode" >
      <table>
        <tr>
          <td>Consommation en litre d'eau par Jour : </td>
          <td>{{vegetal.consommationEau}}</td>
        </tr>
        <tr>
          <td>Consommation en g d'engrais par Mois : </td>
          <td>{{vegetal.consommationEngrais}}</td>
        </tr>
        <tr>
          <td>Prix d'achat d'un plant : </td>
          <td>{{vegetal.prix}}</td>
        </tr>
        <tr *ngIf="vegetal.nature=='Replant'">
          <td>Prix de vente d'un fruit : </td>
          <td>{{vegetal.prix}}</td>
        </tr>
      </table>
    </div>
  </fieldset>
  <fieldset>
    <legend>Affinités</legend>
    <div class="card border border-primary shadow-0" style="max-height: 20%;max-width: 15%;" *ngFor="let plante of affinites">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img id="imgCard" src="../../assets/img/{{plante.nom}}.jpg" class="img-fluid" /><!-- {{vegetal.nom}}.jpg -->
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-header">Information</div>
      <div class="card-body">
        <h5 class="card-title">{{plante.nom}}</h5><!-- vegetal.nom -->
        <p class="card-text">
          {{plante.description}}
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend></legend>
    <table>
      <!-- Caractéristiques du plant -->
      <tr *ngIf="vegetal.nature!=null">
        <td>Nature : </td>
        <td>{{vegetal.nature}}</td>
      </tr>
      <tr *ngIf="vegetal.sol!=null">
        <td>Sol : </td>
        <td>{{vegetal.sol}}</td>
      </tr>
      <tr *ngIf="vegetal.utilite!=null">
        <td>Utilite : </td>
        <td>{{vegetal.utilite}}</td>
      </tr>
      <tr *ngIf="vegetal.typeFeuille!=null">
        <td>Type de Feuille : </td>
        <td>{{vegetal.typeFeuille}}</td>
      </tr>
      <tr *ngIf="vegetal.tempsFeuille!=null">
        <td>Persistance des feuilles : </td>
        <td>{{vegetal.tempsFeuille}}</td>
      </tr>
      <tr *ngIf="vegetal.utiliteOrnement!=null">
        <td>Quel caractéristiques preférer pour l'ornement : </td>
        <td>{{vegetal.utiliteOrnement}}</td>
      </tr>
      <tr *ngIf="vegetal.utiliteGastronomie!=null">
        <td>Partie de la plante que l'on mange : </td>
        <td>{{vegetal.utiliteGastronomie}}</td>
      </tr>
      <tr *ngIf="vegetal.couleur!=null">
        <td>Couleur : </td>
        <td>{{vegetal.couleur}}</td>
      </tr>
      <tr *ngIf="vegetal.utiliteComposition!=null">
        <td>Lieu d'utilisation : </td>
        <td>{{vegetal.utiliteComposition}}</td>
      </tr>
      <tr *ngIf="vegetal.utiliteCimetiere!=null">
        <td>Quelle forme : </td>
        <td>{{vegetal.utiliteCimetiere}}</td>
      </tr>
      <tr *ngIf="vegetal.utilitePresentation!=null">
        <td>Présentation : </td>
        <td>{{vegetal.utilitePresentation}}</td>
      </tr>
      <tr *ngIf="vegetal.exposition!=null">
        <td>Exposition : </td>
        <td>{{vegetal.exposition}}</td>
      </tr>
    </table>
  </fieldset>




</div>
